<html lang="pt-br">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="../static/bts3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/normalize.css" rel="stylesheet">
    <link href="../static/css/estilo.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/bts3/js/bootstrap.min.js"></script>
    {% endblock %}
  </head>

{% block conteudo %}
<div class="container">
  <header class="page-header">
    <h1>Controle de Chamados</h1>
  </header>
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <form class="form-horizontal" action="index.html" method="post">
        <div class="form-group">
          <label for="Nome" class="col-sm-2 control-label">Usuário</label>
          <div class="col-sm-4 control-label">
            <input type="text" name="nome" id="nome" placeholder="Nome de login" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="senha" class="col-sm-2 control-label">Senha</label>
          <div class="col-sm-4 control-label">
            <input type="password" name="senha" id="senha" placeholder="Senha" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-10">
              <button type="subimt" name="button" class="btn btn-primary">Entrar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-3">

    </div>

  </div>
</div>
{% endblock %}
</html>
